In [31]:
import pandas as pd
import pymysql
import os
from bs4 import BeautifulSoup
import requests
from sqlalchemy import create_engine

In [2]:
url = "http://vegetablesfruitsgrains.com/list-of-vegetables/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
results = soup.find_all('div', id="container")

vegetables = []

for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        title = result.find_all('li')
        
        for veg in title:
            vegetables.append(veg.text)
            
    except AttributeError as e:
        print(e)

In [107]:
#manually manipulate list of vegetables for those not included
vegetables.append("Potatoes")

In [3]:
products = pd.read_csv(r"C:\Users\cloca\Desktop\DataAnalytics\etl_project\instacart_market_basket_data\products.csv")
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [4]:
dept = pd.read_csv(r"C:\Users\cloca\Desktop\DataAnalytics\etl_project\instacart_market_basket_data\departments.csv")
dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [5]:
isproduce = dept['department']=='produce'
dept_produce = dept[isproduce]

In [14]:
produce_merge = pd.merge(products,
                dept_produce,
                on='department_id')
produce_merge.head(1684)

product_names = produce_merge['product_name']
produce_merge.head()

,product_id,product_name,aisle_id,department_id,department
0,31,White Pearl Onions,123,4,produce
1,43,Organic Clementines,123,4,produce
2,45,European Cucumber,83,4,produce
3,66,European Style Spring Mix,123,4,produce
4,89,Yogurt Fruit Dip Sliced Apples,123,4,produce

In [110]:
produce_merge["is_vegetable"] = False

for index, row in produce_merge.iterrows():
    words = row["product_name"].split()
    
    for word in words:
        if word in vegetables:
            produce_merge.loc[index, "is_vegetable"]=True
produce_merge.head()

,product_id,product_name,aisle_id,department_id,department,is_vegetable
2,45,European Cucumber,83,4,produce,True
5,99,Local Living Butter Lettuce,83,4,produce,True
6,120,Cauliflower Florettes,123,4,produce,True
7,142,Arugula Salad,123,4,produce,True
16,347,"Vegetable Salad Kit, Sweet Kale",123,4,produce,True

In [109]:
produce_veg = produce_merge[produce_merge.is_vegetable != False]
print(produce_merge)

      product_id                                       product_name  aisle_id  \
2             45                                  European Cucumber        83
5             99                        Local Living Butter Lettuce        83
6            120                              Cauliflower Florettes       123
7            142                                      Arugula Salad       123
16           347                    Vegetable Salad Kit, Sweet Kale       123
20           391                      Organic Yukon Gold Potato Bag        83
22           494                               Yellow Cherry Tomato        83
24           581                          Garnet Sweet Potato (Yam)        83
26           740                                       Celery Heart       123
27           748                                            Romaine       123
29           793              Organic Spinach Quinoa Powermeal Bowl       123
30           857                                  Grilled Asparagus       123
32           882                                  Fingerling Potato        83
40          1282                                        Green Onion        83
44          1374                           Organic Hass Avocado Bag        83
45          1396                                 Sweet Potato (Yam)        83
53          1539                                   Cauliflower head        83
55          1607                                  English Peas Pack       123
60          1929                    Zucchini Squash, Baby Courgette       123
62          2016                                     Minzano Tomato        83
74          2446                                 Orange Cauliflower        83
77          2471                                 Organic Kale Combo       123
78          2513                Steam In Bag Broccoli & Cauliflower       123
80          2588                         Wild Wonders Medley Tomato        83
82          2643                      Organic Bagged Kale Salad Mix       123
88          2847                  50/50 Spring Mix And Baby Spinach       123
89          2904                                 USA Endive Lettuce        83
93          3002                              Diced Celery & Onions       123
95          3068                                      White Pumpkin        83
98          3188                                            Chayote        83
...          ...                                                ...       ...
1603       47405                                       Beet Noodles        83
1608       47685               Cherry Almond Blue Spinach Salad Kit       123
1609       47734                              Organic Green Cabbage        83
1611       47766                                    Organic Avocado        24
1616       47915        Organic Half Spring Mix & Half Baby Spinach       123
1620       48038                                  Cauliflower Green        83
1621       48071                         Fresh Romaine Lettuce head       123
1623       48205                                            Spinach       123
1624       48253  Happy Squeeze Organic Twist Apple Mango & Kale...       123
1625       48264                             Chopped Romaine Hearts       123
1627       48327                      Organic Kale Caesar Salad Kit       123
1630       48364                                        Sweet Onion        83
1632       48462                           Organic Sweet Kale Blend       123
1633       48473                  Fresh European Style Baby Arugula       123
1636       48527                                            Avocado        24
1642       48679                  Organic Garnet Sweet Potato (Yam)        83
1643       48681                   Kale Cranberry Chopped Salad Kit       123
1646       48775                                Organic Red Cabbage        83
1647       48783                          Hydroponic Boston Lettuce       123
1648       48785  Power Blend Superfood Brussels Sprouts, Napa C...       123
1655       48953                                     Lettuce Medley       123
1656       48999                                 Fresh Radish Chips       123
1660       49098                                Golden Sweet Potato        83
1664       49217                        Persian (Armenian) Cucumber        83
1666       49291                          Tomato Cherry On The Vine        24
1670       49380                                     Squeeze Ginger        24
1671       49381                                    Zucchini Squash        83
1679       49578                                 Black Garlic Bulbs       123
1681       49635   Baby Food Blueberry, Parsnip & Buckwheat Stage 2        83
1683       49683                                     Cucumber Kirby        83

      department_id department  is_vegetable
2                 4    produce          True
5                 4    produce          True
6                 4    produce          True
7                 4    produce          True
16                4    produce          True
20                4    produce          True
22                4    produce          True
24                4    produce          True
26                4    produce          True
27                4    produce          True
29                4    produce          True
30                4    produce          True
32                4    produce          True
40                4    produce          True
44                4    produce          True
45                4    produce          True
53                4    produce          True
55                4    produce          True
60                4    produce          True
62                4    produce          True
74                4    produce          True
77                4    produce          True
78                4    produce          True
80                4    produce          True
82                4    produce          True
88                4    produce          True
89                4    produce          True
93                4    produce          True
95                4    produce          True
98                4    produce          True
...             ...        ...           ...
1603              4    produce          True
1608              4    produce          True
1609              4    produce          True
1611              4    produce          True
1616              4    produce          True
1620              4    produce          True
1621              4    produce          True
1623              4    produce          True
1624              4    produce          True
1625              4    produce          True
1627              4    produce          True
1630              4    produce          True
1632              4    produce          True
1633              4    produce          True
1636              4    produce          True
1642              4    produce          True
1643              4    produce          True
1646              4    produce          True
1647              4    produce          True
1648              4    produce          True
1655              4    produce          True
1656              4    produce          True
1660              4    produce          True
1664              4    produce          True
1666              4    produce          True
1670              4    produce          True
1671              4    produce          True
1679              4    produce          True
1681              4    produce          True
1683              4    produce          True

[508 rows x 6 columns]

In [9]:
#For some reason my orig file was converted from UTF-8 to ANSI, so I converted and renamed
order_products__prior = pd.read_csv(r"C:\Users\cloca\Desktop\DataAnalytics\etl_project\instacart_market_basket_data\order_products__prior2.txt")
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
produce_merger = pd.merge(produce_veg,
                order_products__prior,
                on='product_id')

In [124]:
#All vegetables
veggies = produce_merger['product_name'].value_counts()
veggies = pd.DataFrame(veggies)
veggies.reset_index(inplace=True)
veggies.head()

                  index  product_name
0  Organic Baby Spinach        241921
1  Organic Hass Avocado        213584
2       Organic Avocado        176815
3  Organic Yellow Onion        113426
4        Organic Garlic        109778

In [92]:
top50veggies = produce_merger['product_name'].value_counts().nlargest(50)
top50veggies = pd.DataFrame(top50veggies)
top50veggies.reset_index(inplace=True)
top50veggies.columns={"vegetables", "order count"}

             vegetables  order count
0  Organic Baby Spinach       241921
1  Organic Hass Avocado       213584
2       Organic Avocado       176815
3  Organic Yellow Onion       113426
4        Organic Garlic       109778

In [116]:
connection_string = "root:locandr091@localhost/etl_project"
engine = create_engine(f'mysql://{connection_string}')

In [117]:
top50veggies.to_sql(name='top50veggies', con=engine, if_exists='append', index=True)

In [118]:
engine.table_names()

['top50veggies']